body{
    padding: 0; /* supprime les marges de notre balise body */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Mise en forme de la barre de navigation */

nav{
    display: flex; /* alignement des div gauche & droite, éléments enfants directs de la section nav */
    flex-wrap: wrap;
    justify-content: space-between; /* met un écart entre les 2 div gauche & droite */
    background-color: black;
    color: #fff;
    padding: 0 25px;
}

nav .gauche{
    display: flex;
    flex-wrap: wrap;
}

nav .gauche img{
    padding-top: 5px;
}

nav .gauche .onglets{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

nav .gauche .onglets p{
    margin-left: 10px;
    cursor: pointer;
    color: #909191;
}

nav .gauche .onglets p:hover{
    color: white;
}

nav .droite{
    display: flex;
    flex-wrap: wrap;
}

nav .droite p{
    margin-right: 10px;
    cursor: pointer;
}

/* Les films et séries */

.films-et-series{
    background-color: #191a1a;
    padding: 25px;
}

.films-et-series .section{
    margin-bottom: 55px;
}

.films-et-series .section h2{
    color: #fff;
}

.films-et-series .section .list{
    display: flex; /* permet d'aligner les éléments images */
   /* overflow-x: auto;*/
    overflow-x: hidden;
    overflow-y: hidden;        
}

.films-et-series .section .list a{
    padding-left: 5px;
    transition: transform 0.25s; /* exécute la propriété transform en 0.25s */
}

.films-et-series .section .list a:hover{
    transform: scale(1.05);
}

.films-et-series .section a img{
    height: 140px;
}

/* Footer */

footer{
    background-color: #000;
    padding: 25px 100px;
    color: #909191;
}

footer .colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}